<div class="center">
  <%= form_tag( "/simpolle/create", :method => :post ) do %>
    <%= hidden_field_tag( :question, Owrb::JSON.encode( @question ) ) %>
    
    <%= button_tag( "編集する", :name => :edit, :class => "button_black" ) %>
    
    <div id="question-preview" class="center">
      <b class="question_title"><%= @question[ "title" ] %></b>
      <% @question[ "choices" ].each{|i, text| %>
        <% next if text.empty? %>
        
        <%= button_tag( text, :type => :button, :class => "button_blue question_choice" ) %>
      <% } %>
    </div>
    
    <%= button_tag( "作成する", :name => :create, :class => "button_black" ) %>
    
  <% end %>
</div>
