<div class="center" id="question-show">
  <% if @question.nil? %>
    <div class="error"><%= @errmsgs[ :not_found ] %></div>
  <% else %>
    <%= form_tag( "/simpolle/choice", :method => :post ) do %>
      <%= hidden_field_tag( :question_key, @question_key ) %>
      
      <b class="question_title"><%= @question[ "title" ] %></b>
      <% @question[ "choices" ].each_with_index{|text, i| %>
        <% if i == @question_choice %>
          <% if @is_finished %>
            <%= button_tag( text, :type => :button, :class => "button_green question_choice" ) %>
          <% else %>
            <%= button_tag( text, :name => :cancel, :value => i, :class => "button_green question_choice" ) %>
          <% end %>
        <% else %>
          <% if @is_finished %>
            <%= button_tag( text, :type => :button, :class => "button_purple question_choice" ) %>
          <% else %>
            <%= button_tag( text, :name => :choice, :value => i, :class => "button_blue question_choice" ) %>
          <% end %>
        <% end %>
      <% } %>
      <b class="question_time_limit"><%= @time_limit %></b>
    <% end %>
  <% end %>
</div>
