<%= form_tag( "/simpolle/create", :method => :get ) do %>
  <%= button_tag( "新規作成する", :class => "button" ) %>
<% end %>

<% if @question.nil? %>
  <div class="error"><%= @errmsg[ :not_found ] %></div>
<% else %>
  <%= form_tag( "/simpolle/choice", :method => :post ) do %>
    <%= hidden_field_tag( :question_key, @question_key ) %>
    
    <% if @is_finished %>
      <div class="question_time_limit_finish"><%= @time_limit %></div>
      
      <div class="question_result">
        <div class="flex">
          <%= simple_format( h( @question[ "title" ] ), { :class => "question_title" }, :wrapper_tag => :div ) %>
          <div class="question_result_num"><%= @question[ :total ] %>票</div>
        </div>
        
        <hr>
        
        <% @question[ "choices" ].each_with_index{|text, i| %>
          <div class="question_select flex">
            <div class="question_choice">
              <ul class="question_bar">
                <% if i == @question_choice %>
                  <li class="question_bar_selected_finish"><div class="question_choice_text"><%= text %></div></li>
                <% else %>
                  <li class="question_bar_select_finish"><div class="question_choice_text"><%= text %></div></li>
                <% end %>
              </ul>
            </div>
            
            <div class="question_result_num"><%= @question[ :result ][ i ][ :text ].html_safe %></div>
          </div>
        <% } %>
      </div>
    <% else %>
      <div class="question_time_limit"><%= @time_limit %></div>
      
      <div class="question_result">
        <div class="question_select flex">
          <%= simple_format( h( @question[ "title" ] ), { :class => "question_title" }, :wrapper_tag => :div ) %>
          <div class="question_result_num"><%= @question[ :total ] %>票</div>
        </div>
        
        <hr>
        
        <% @question[ "choices" ].each_with_index{|text, i| %>
          <div class="question_select flex">
            <% if i == @question_choice %>
              <%= button_tag( text, :name => :cancel, :value => i, :class => "question_button_selected" ) %>
            <% else %>
              <%= button_tag( text, :name => :choice, :value => i, :class => "question_button_select" ) %>
            <% end %>
            
            <div class="question_result_num"><%= @question[ :result ][ i ][ :text ].html_safe %></div>
          </div>
        <% } %>
      </div>
    <% end %>
  <% end %>
<% end %>
